<!DOCTYPE html>
<html>
<head>
  <title>Week6Lecture</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
   <div class="header">
     <ul class="nav nav-pills pull-right">
       <li><%= link_to 'Pokemons', pokemons_path %></li>
       <li><%= link_to 'Users', users_path %></li>
     </ul>
     <h3 class="text-muted">Week 6 Lecture</h3>
   </div>

  <%= yield %>
</div>

</body>
</html>
